*{
    font-family: 'Open Sans', sans-serif;
}

/* nav */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 50px;
}
.nav{
    font-weight: 800;
    font-size: 45px;
}

.red{
    color: #FD6E0A;
}
.btn-h{
    width: 121px;
    height: 61px;
    left: 226px;
    top: 51px;
    background: #FD6E0A;
    border: 0px;
    border-radius: 5px
    
}
.btn-h-font{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
  
    color: #ffffff;
}
.navitem{
   

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}
.header{
    background: #fff8f3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
.banner{
    margin-top: 0px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
}
/* img{
    overflow-clip-margin: content-box;
    overflow: clip;
} */
/* #img img{
    width: 100%;
    height: 100%;

} */
.banner p{
    padding-bottom: 50px;
}
.bstart{
   
    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;  
}
.bname{
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    
}
.btext{
   

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.btn-cv{
    margin-top: 15px;
    width: 200px;
    height: 50px;
    left: 230px;
    top: 590px;
    color: #ffffff;
    background: #FD6E0A;
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.pic{
    margin-top: 0px;
    width: 1584px;
    height: 676px;
    left: 978px;
    /* top: 161px; */
}

.about{
    background: #FFF8F3;
    border-radius: 10px;  
    margin-top: 130px; 
    
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}
#am{
    padding-top: 130px;
    font-size: 35px;
    font-weight: 700;
}
#about_p{
    padding: 0px 156px;
    padding-bottom: 30px;
}
#about_table{
    padding: 0px 156px;
    text-align: center;
}
/* .about_td{
    padding-right: 30px;
}
table tr td{
    padding-right: 30px;
} */
.about_info{
    display: flex;
    padding: 0 156px;
    justify-content: space-around;
    padding-bottom: 130px;
}
.about_info_text{
    justify-content: space-around;
    

}
.ce{
    
    border-radius: 10px;  
    margin-top: 40px; 
    padding-top: 130px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}
.sc{
    padding-top: 130px;
   
    
    display: flex;
    gap: 24px;
}
.st{
    font-size: 20px;
    font-weight: 700;
}
skill{
    background: white;
    box-shadow: 0px 6px 50px;
    border-radius: 5px;
    padding: 30px;
}
.sd{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
.r{
    border-radius: 10px;  
    margin-top: 20px; 
    padding-top: 80px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}
.rc{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.rt{
    /* font-weight: 400;
    
    font-size: 16px; */
    font-weight: 700;
    font-size: 30px;

}
.in{
    font-weight: 700;
    font-size: 25px;
}
.uni{
    font-weight: 600;
    font-size: 20px;
}
.result{
    font-weight: 400;
    font-size: 16px;
}
/* .btn-cv{
    width: 121px;
    height: 61px;
    left: 226px;
    top: 51px;
    background: #FD6E0A;
    border: 0px;
    border-radius: 5px
} */
.c{
    display: flex;
    padding: 130px 200px;
    gap: 100px;
    background: #fff8f3;
}

.c input, textarea{
    margin-bottom: 20px;
    border: 0px;
    padding: 20px;
    width: 100%;

}
#forpadding{
    padding-bottom: 50px;
}
.rest{
    border-radius: 10px;  
    margin-top: 100px; 
    padding-top: 50px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;

}
.b{
    font-weight: 700;
}
a{
    text-decoration: none;
    color: black;
}
.hide{
    display: none;
}

@media screen and (max-width:576px){
    *{
        margin-left: 2px;
        margin-right: 2px;
    }
    .sc, .about_info{
        flex-direction: column;
    }

    .ce {
    
        /* border-radius: 10px;  
        margin-top: 40px; 
        padding-top: 130px;
        font-size: 35px; */
        /* font-weight: 700;
        text-align: center; */
        margin-left: 2px;
        margin-right: 2px;
    
    }
    .r {
    
        /* border-radius: 10px;  
        margin-top: 40px; 
        padding-top: 130px;
        font-size: 35px; */
        /* font-weight: 700;
        text-align: center; */
        margin-left: 2px;
        margin-right: 2px;
        text-align: left;
    
    }
    .rc{
        flex-direction: column;
    }
    .rest{
        /* text-align: left; */
        border-radius: 10px;  
        /* margin-top: 100px; 
        padding-top: 50px;
        font-size: 35px;
        font-weight: 700; */
        
        margin-left: 2px;
        margin-right: 2px;
    
    }
    .about_info{
        padding: 2px;
    }
    .about{
        margin-left: 2px;
        margin-right: 2px;
    }
    #about_p{
        padding-left: 2px;
        padding-right: 2px;
    }
    .c{
        flex-direction: column;
        padding: 2px;
    }
    .c input, textarea{
        margin-bottom: 20px;
        border: 0px;
        padding: 20px;
        width: 80%;
    
    }
    .banner{
       
        margin-left: 2px;
        margin-right: 2px;
        justify-content:baseline;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        margin: 2px;
        
    }
    nav ul{
        display: grid;
        gap: 5px;
        padding: 5px;
        grid-template-columns: repeat(3, 1fr);
    }
    nav li{
        margin-left: 2px;
        padding: 10px;
    }
    #img{
        width: 90%;
        height: 90%;
        
    }
    .header{
        background: #fff8f3;
        background-image: url('../images/header_bg.png');
        background-repeat: no-repeat;
        background-position: bottom right, left;
    }
    .btn-h{
        display: none;
    }
        
}